@model IEnumerable<Company.Models.Employee>
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>


<partial name="_DataPartial" />

