@page
@model Cinema.Pages_Movies.RatingModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="button-create" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.First().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.First().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.First().Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_DataPartial" model="Model.Movie">
    </tbody>
</table>